@import '_settings';
@import '_config';
@import '_mixins';
body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    background: $backgroundColor;
    div,
    img {
        position: absolute;
    }
}

#avivaLogo{
    right: 0;
    top: 490px;
}

#headline{
top: 36px;
left: 38px;
transform: translateX(-300px);
}


#lineOne{
top: 128px;
left: 60px;
width:190px;
height:2px;
transform:scaleX(0);
}

#lineTwo{
    top: 190px;
    left: 46px;
    width:226px;
    height:2px;
    transform:scaleX(0);
}

    // copyOne

#copyOneContainerTop{
    top: 87px;
    left: 45px;
    height:42px;
    width:220px;
    overflow: hidden;
}

#copyOneContainerBottom{
    top: 128px;
    left: 45px;
    height:58px;
    width:220px;
    overflow: hidden;
}

#copyOneL1{
    transform:translateY(42px)
}
#copyOneL2{
    top:-42px;
    transform:translateY(-56px)
}

// copyTwo
#copyTwoContainerTop{
    top:73px;
    left: 38px;
    height:119px;
    width:241px;
    overflow: hidden;
}

#copyTwoContainerBottom{
    top: 191px;
    left: 38px;
    height:138px;
    width:242px;
    overflow: hidden;
}

#copyTwoL1{
    transform:translateY(119px);
}
#copyTwoL2{
    top:-118px;
    transform:translateY(-220px);
}


#mainImgContainer{
    top: -27px;
    left: -13px;
    width: $width;
    height:$height;
}


#stripe{
    width:230px;
    height:0;
    top: 163px;
    left: 58px;
    transform-origin: top left;
    background: url(../img/stripe.jpg)no-repeat;
}


.vertBar{
    height:$height;
    width:1px;    
    transform: translateX(300px) ;
}

#vertBarOne{
    left:2px;
    background: #59b337;
}
#vertBarTwo{
    left:4px;
    background: #004fb6;
}
#vertBarThree{
    left:6px;
    width:3px;
    background:#ffd900;
}
#vertBarFour{
    left:12px;
    background: #59b337;
}
#vertBarFive{
    left:14px;
    background: #004fb6;
}
#vertBarSix{
    left:16px;
    background:#ffd900;
}

#cta {
    left: 53px;
    top: 352px;
    height:45px;
    width: 208px;
    border-radius: 8px;
    background-color: #ffd900;
    opacity: 0;
}

#pulse{
    top:325px;
    left:0px;
    transform:scale(0);
}


#disc {
	height: 32px;
    width: 300px;
    font-size: 10px;
    line-height: 11px;
    padding: 4px 0 0 4px;
	bottom: 0;
	background: #fff;
    cursor: pointer;
    border: 1px solid black;
}
#discInner {
	left: 5px;
	bottom: 5px;
	
	width: 280px;
	height: auto;
	font-size: 10px;
	line-height: 11px;
	color: #000;
	display: block;
	text-align: left;
}

#closeLegalsBut,
#legalsPanelInner {
	
	
	font-size: 12px;
	color: #000;
	display: block;
	text-align: left
}
#legalsPanel {
	width: 300px;
	cursor: pointer;
	background: #fff;
	height: 600px;
	top: 0px;
    left: 0;
    transform: translateY(600px);
    border: 1px solid black;
}


#legalsPanelInner {
	left: 15px;
	top: 15px;
	width: 260px;
	height: auto;
	line-height: 16px;
	padding: 0 0 50px
}

#closeLegalsBut {
	left: 245px;
	top: 580px;
	width: 50px;
	height: 20px;
	line-height: 13px
}


#bgExit {
    top: 0px;
    left: 0px;
    width: $width;
    height: $height;
    border: 1px solid black;
    cursor: pointer;
}